@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 93%; /* Off white */
    --foreground: 280 10% 14%; /* Dark charcoal */

    --card: 0 0% 93%;
    --card-foreground: 280 10% 14%;

    --popover: 0 0% 93%;
    --popover-foreground: 280 10% 14%;

    --primary: 280 10% 14%;
    --primary-foreground: 0 0% 93%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 280 10% 14%;

    --muted: 0 0% 96%;
    --muted-foreground: 280 10% 25%;

    --accent: 0 0% 96%;
    --accent-foreground: 280 10% 14%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 93%;

    --border: 280 10% 86%;
    --input: 280 10% 86%;
    --ring: 280 10% 14%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 93%;
    --sidebar-foreground: 280 10% 14%;
    --sidebar-primary: 280 10% 14%;
    --sidebar-primary-foreground: 0 0% 93%;
    --sidebar-accent: 0 0% 96%;
    --sidebar-accent-foreground: 280 10% 14%;
    --sidebar-border: 280 10% 86%;
    --sidebar-ring: 280 10% 14%;
  }

  .dark {
    --background: 280 10% 14%; /* Dark charcoal */
    --foreground: 0 0% 93%; /* Off white */

    --card: 280 10% 14%;
    --card-foreground: 0 0% 93%;

    --popover: 280 10% 14%;
    --popover-foreground: 0 0% 93%;

    --primary: 0 0% 93%;
    --primary-foreground: 280 10% 14%;

    --secondary: 280 10% 17.5%;
    --secondary-foreground: 0 0% 93%;

    --muted: 280 10% 17.5%;
    --muted-foreground: 280 10% 65%;

    --accent: 280 10% 17.5%;
    --accent-foreground: 0 0% 93%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 93%;

    --border: 280 10% 17.5%;
    --input: 280 10% 17.5%;
    --ring: 280 10% 83.9%;

    --sidebar-background: 280 10% 14%;
    --sidebar-foreground: 0 0% 93%;
    --sidebar-primary: 280 10% 14%;
    --sidebar-primary-foreground: 0 0% 93%;
    --sidebar-accent: 280 10% 17.5%;
    --sidebar-accent-foreground: 0 0% 93%;
    --sidebar-border: 280 10% 17.5%;
    --sidebar-ring: 280 10% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}